html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body.splitter-dragging {
  cursor: ew-resize;
  user-select: none;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  cursor: default;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
::-webkit-scrollbar-corner {
  background: #eee;
}
