@font-face {
  font-family: "icon"; /* Project id 5240521 */
  src: url('iconfont.woff2?t=1791360309651') format('woff2');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e6a6";
}

.icon-expand-left:before {
  content: "\e74d";
}

.icon-expand-right:before {
  content: "\e74e";
}

.icon-check:before {
  content: "\e61c";
}

.icon-uncheck:before {
  content: "\e616";
}

.icon-add:before {
  content: "\e798";
}

.icon-close:before {
  content: "\e6e7";
}

.icon-minimize:before {
  content: "\e6e8";
}

.icon-restore:before {
  content: "\e6ea";
}

.icon-maximize:before {
  content: "\e6e5";
}

.icon-nodes:before {
  content: "\e613";
}

